<h1><%= @user.name %></h1>

<% @user.attended_events.each do |event| %>
  <% if event.date >= Time.now %>
    <h3>Upcoming Events</h3>
    <h3><%= event.name %></h3> 
    <p> Location: <%= event.location %></p>
    <p>Desrciption: <%= event.description %></p>
  <% else %>
    <h3>Past Events</h3>
    <h3><%= event.name %></h3> 
    <p> Location: <%= event.location %></p>
    <p>Desrciption: <%= event.description %></p>
  <% end%>
<% end %>

