<h2>Creator: <%= @event.creator.name %></h2>

<h3>Name: </h3><%= @event.name %><br />
<h3>Location: </h3><%= @event.location %><br />
<h3>Date: </h3><%= @event.date %><br />
<h3>Description: </h3><%= @event.description %><br />

<h2>Event attendees:</h2>

<u>
<% @event.attendees.each do |user| %>
    <li><%= user.name %></li>
<%end%>
</u>